/* The CSS Style was customized from a Canned Style Sheet */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1;
    background-color: #eba4a450;
  }
  
  h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  p {
    font-family:fantasy;
  }
  